body {
  font-family: 'Montserrat', sans-serif;
  background-color: #651FFF;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-perspective: 288px;
          perspective: 288px;
}

.tag {
  position: relative;
  display: block;
  background-color: #FFF;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  outline: none;
  min-width: 150px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4vh 8vw;
  text-decoration: none;
  color: #000;
  letter-spacing: 2px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.tag:before {
  content: attr(data-content-default);
}

.tag:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  -webkit-animation: spinner 200ms infinite linear;
          animation: spinner 200ms infinite linear;
}

.tag:active:before {
  content: attr(data-content-spinning);
}

@-webkit-keyframes spinner {
  from {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(0) rotateY(-360deg);
            transform: rotateX(0) rotateY(-360deg);
  }
  to {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(360deg) rotateY(-360deg);
            transform: rotateX(360deg) rotateY(-360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(0) rotateY(-360deg);
            transform: rotateX(0) rotateY(-360deg);
  }
  to {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(360deg) rotateY(-360deg);
            transform: rotateX(360deg) rotateY(-360deg);
  }
}
